name: Deploy to gcp

on:
  push:
    branches: [ master ]

jobs:
  build:
    name: Build and push docker conatainer
    runs-on: ubuntu-latest
    environment: production
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Set up node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
      - name: 'Build and push'
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: team-researchops
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}

    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-prod:
    if: github.ref == 'refs/heads/master'
    name: Deploy to prod-gcp
    needs: build
    environment: production
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4
      - name: Generate nais variables
        run: |
          cat > .nais/vars.yaml <<EOF
          SITEIMPROVE: ${{ secrets.SITEIMPROVE }}
          REOPS: ${{ secrets.REOPS }}
          EOF
      - name: Deploy to prod
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: .nais/prod-gcp.yaml
          VAR: image=${{ needs.build.outputs.image }},version=${{ github.sha }}
          VARS: .nais/vars.yaml