name: "Pull request"
run-name: "Pull request"

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: "pull request build"
    runs-on: "ubuntu-latest"
    permissions:
      packages: write
      contents: read
      id-token: write
    steps:
      - uses: "actions/checkout@v6"

      - uses: "actions/setup-node@v6"
        with:
          node-version: 25
          registry-url: "https://npm.pkg.github.com"
          cache: "yarn"

      - name: "Install dependencies"
        run: "yarn install --frozen-lockfile"
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: "Build application"
        run: "yarn run build"